[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SeerMapper"]
	path = SeerMapper
	url = https://github.com/cran/SeerMapper
[submodule "SeerMapper2010East"]
	path = SeerMapper2010East
	url = https://github.com/cran/SeerMapper2010East
[submodule "SeerMapper2010Regs"]
	path = SeerMapper2010Regs
	url = https://github.com/cran/SeerMapper2010Regs
[submodule "SeerMapper2010West"]
	path = SeerMapper2010West
	url = https://github.com/cran/SeerMapper2010West
[submodule "SeerMapperEast"]
	path = SeerMapperEast
	url = https://github.com/cran/SeerMapperEast
[submodule "SeerMapperRegs"]
	path = SeerMapperRegs
	url = https://github.com/cran/SeerMapperRegs
[submodule "SeerMapperWest"]
	path = SeerMapperWest
	url = https://github.com/cran/SeerMapperWest
